p {
	color: green;
}

/* https://stackoverflow.com/questions/8117761/how-can-i-make-an-iframe-resizable/60803488#60803488 */

.resizer {
	display: flex;
	margin: 0;
	padding: 0;
	resize: vertical;
	overflow: hidden;
}

.resizer > .resized {
	flex-grow: 1;
	margin: 0;
	padding: 0;
	border: 1px black solid;
}

iframe {
	width: 100%;
	height: 100%;
}

#shoppingCartContainer {
	
}

.collapsableForm {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid black;
}

td {
	text-align: center;
}

.rightHandTableEntry {
	text-align: right;
}

div {
	
}

.discountPercentageLabel {
	border: 1px red solid;
}

.discountPercentageWrapper {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 1px blue solid;
}